{% extends 'base.html' %}

{% block title %}
Add Post
{% endblock %}

{% block content %}
<h1>New Post</h1>
<form method="POST">
    <div>
        <div>
            <label for="title">Title </label>
            <input class="form-control" id="title" name="title">
        </div>

        <div>
            <label for="content">Content </label>
            <textarea class="form-control" id="content" name="content"></textarea>
        </div>

        <div>
            {% for user in user %}
            <a href="/users/{{user.id}}" class="btn btn-primary">Cancel</a>
            {% endfor %}
            <button type="submit" class="btn btn-success">Add</button>
        </div>
    </div>
</form>
{% endblock %}