{% extends 'base.html' %}

{% block title %}
Add Post
{% endblock %}

{% block content %}
<h1 class="display-5">New Post</h1>
<form method="POST">
    <div>
        <div class="mt-3 mb-3">
            <label for="title">Title </label>
            <input class="form-control" id="title" name="title" required>
        </div>

        <div class="mt-3 mb-3">
            <label for="content">Content </label>
            <textarea class="form-control" id="content" name="content" required></textarea>
        </div>

        <div>
            <h2 class="display-6 mt-5">Tags:</h2>

            <div class="form-check">
                {% for tag in tags %}
                <div>
                    <input class="form-check-input" type="checkbox" value="{{tag.id}}" id="{{tag.id}}" name="tags">
                    <label class="form-check-label" for="{{tag.id}}">{{tag.name}}</label>
                </div>
                {% endfor %}
            </div>
        </div>



        <div class=" mt-3 mb-3">
            {% for user in user %}
            <a href="/users/{{user.id}}" class="btn btn-sm btn-outline-dark">Cancel</a>
            {% endfor %}
            <button type="submit" class="btn btn-sm btn-success">Add</button>
        </div>
    </div>
</form>
{% endblock %}