{% extends 'base.html' %}

{% block title %}
{{post.title}}
{% endblock %}

{% block content %}

<div>
    <div>
        <h1 class="display-2">{{post.title}}</h1>
    </div>
    <hr>
    <div>
        <p>{{post.content}}</p>
        <p><small class="text-muted"><em>{{user.first_name}} {{user.last_name}} on {{post.date_time}}</em></small></p>
    </div>

    <div>
        <form>
            <button class="btn btn-primary" formmethod="GET" formaction="/posts/{{post.id}}/edit">Edit</button>
            <button class="btn btn-danger" formmethod="POST" formaction="/posts/{{post.id}}/delete">Delete</button>
            <a href="/users/{{user.id}}" class="btn btn-outline-dark">Go Back</a>
        </form>
    </div>
</div>

{% endblock %}