{% extends 'base.html' %}

{% block time %}
Edit User
{% endblock %}

{% block content %}
{% for user in user %}
<h1>Edit User Info for {{user.first_name}} {{user.last_name}}</h1>
<form method="POST">
    <div>
        <div>
            <label for="first_name">First Name: </label>
            <input type="text" name="first_name" value="{{user.first_name}}">
        </div>

        <div>
            <label for="last_name">Last Name: </label>
            <input type="text" name="last_name" value="{{user.last_name}}">
        </div>

        <div>
            <label for="image_url">Image URL: </label>
            <input type="text" name="image_url" value="{{user.image_url}}">
        </div>

        <div>
            <a href="/users/{{user.id}}" class="btn btn-primary">Cancel</a>
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </div>
</form>
{% endfor %}
{% endblock %}