{% extends 'base.html' %}

{% block time %}
Create a User
{% endblock %}

{% block content %}

<h1 class="display-5">Create a User</h1>
<form method="POST">
    <div>
        <div class="mt-3 mb-3">
            <label for="first_name">First Name: </label>
            <input type="text" name="first_name" placeholder="First Name" required>
        </div>

        <div class="mt-3 mb-3">
            <label for="last_name">Last Name: </label>
            <input type="text" name="last_name" placeholder="Last Name" required>
        </div>

        <div class="mt-3 mb-3">
            <label for="image_url">Image URL: </label>
            <input type="text" name="image_url" placeholder="Add URL for User Image">
        </div>

        <div class="mt-3 mb-3">
            <a href="/users" class="btn btn-sm btn-outline-dark">Cancel</a>
            <button type="submit" class="btn btn-sm btn-success">Add</button>
        </div>
    </div>
</form>

{% endblock %}