{% extends 'base.html' %}

{% block title %}
{{user.first_name}} {{user.last_name}} Info
{% endblock %}

{% block content %}
<div>
    <div class="row">
        <div class="col-sm-2 col-6">
            <img src="{{user.image_url}}" class="img-fluid rounded-circle">
        </div>
        <div>
            <h1>{{user.first_name}} {{user.last_name}}</h1>
            <form>
                <button class="btn btn-primary" formaction="/users/{{user.id}}/edit" formmethod="GET">Edit</button>
                <button class="btn btn-danger" formaction="/users/{{user.id}}/delete" formmethod="POST">Delete</button>
                <a href="/" class="btn btn-outline-dark">Go Home</a>
            </form>
        </div>
        <div>
            <h1>Posts</h1>
        </div>
        <div>

            <ul>
                {% for post in user.posts %}
                <li>
                    <a href="/users/{{post.users_id}}/post/{{post.id}}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>

            <a class="btn btn-primary" href="/users/{{user.id}}/post-form">Add Post</a>
        </div>
    </div>
</div>

{% endblock %}